@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h3 >Welcome <br> to the Newbisoft </h3>
        
        <p>Explore the world of news!</p>
        <div>
            <button>Hello</button>
        </div>
        <div class = "col-md-4 col-lg-3">
            <div class = "feed-wrap">
                <div class = "feed-wrap-head">
                    <span>Новини</span>
                </div>
                <ul class = "tabs">
                    <li class = "active">
                        <a data-toggle = "tab">Останнє</a>
                    </li>
                    <li class = "active">
                        <a data-toggle = "tab">Головне</a>
                    </li>
                    <li class = "active">
                        <a data-toggle = "tab">Популярне</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
