@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h2>Welcome</h2>
        <h3> to the Newbisoft</h3>
        <h4>Explore the world of news!</h4>
        <div class = "col-md-4 col-lg-3">
            <div class = "feed-wrap">
                <div class = "feed-wrap-head">
                    <span>Новини</span>
                </div>
                <ul class = "tabs">
                    <li class = "active">
                        <a data-toggle = "tab">Останнє</a>
                    </li>
                    <li class = "active">
                        <a data-toggle = "tab">Головне</a>
                    </li>
                    <li class = "active">
                        <a data-toggle = "tab">Популярне</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <center>
    <div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
        </div>
    </div>
    </center>
</body>
